
data/dst-3.0_16_1_hh_database.csv
charts/
Project-1.v01 copy*.ipynb
Project-1.v02.ipynb
Project-1.v01 — рабочая (с доп.полезным кодом).ipynb
Project-1.v01 — с кодом выявления большой ячейки и удаления её вывода*
**/__pycache__
**/debug/
# .idea/